* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 50px;
  background: #ffc94a;
  box-shadow: rgba(127, 126, 126, 0.2) 1px 5px 5px 5px;
}

.nav-items {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  font-weight: 400;
  color: white;
}
.nav-items > .list-items {
  list-style-type: none;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
}
.list-items:hover {
  color: chocolate;
}

.res-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}
.res-cards {
  width: 260px;
  height: 320px;
  margin: 50px 20px;
  border-radius: 5px;
  box-shadow: rgba(153, 152, 152, 0.2) 0px 5px 5px 0px;
  cursor: pointer;
}

.res-image > img {
  margin: 0px 5px;
  width: 250px;
  height: 200px;
  border-radius: 5px;
}

img {
  object-fit: cover;
  object-position: center;
}
.product-detail {
  margin: 0px 20px;
  display: block;
}

.res-detail {
  margin: 5px 0;
}
